[Unit]
Description=jsession X session manager

[Service]
Type=dbus
BusName=prog.jsession
ExecStart=jsessiond
KillMode=process

[Install]
WantedBy=multi-user.target
